<div class="page-header">
  <h1>Websites</h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th> Name </th>
      <th> URL </th>
      <th> Number of images to sort </th>
      <th> Last scrapping </th>
    </tr>
  </thead>
  <tbody>
    <% @websites.each do |website| %>
      <tr>
        <td><%= link_to website["name"], website_post_images_path(website["id"], website["latest_post_id"], :status => "TO_SORT_STATUS") if website["latest_post_id"].present? %></td>
        <td><%= website["url"] %></td>
        <td><%= website["images_to_sort_count"] %></td>
        <td><%= website["last_scrapping_date"] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div>
  <%= link_to "Transfert all images", "#", :id =>"transfert_button" %>
</div>