<div class="row text-center">
  <h3> <%= link_to @post.name, @post.url %></h3>
</div>
<br>
<div class="row">
  <div class="col-xs-3">
    <div class="panel panel-default">
      <ul class="list-group">
        <% @presenter.posts.each do |post|%>
          <li class="list-group-item post">
            <%= link_to post.name, post %>
            <div class="row">
              <div class="col-xs-4">
                <span class="label label-primary post-info" data-toggle="tooltip" data-placement="left" title="Number of images you have not seen in this post"><i class="fa fa-picture-o"></i> <%= post.images.count %></span>
              </div>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="text-center">
      <%= paginate @presenter.posts, param_name: "post_page", theme: 'prev_next_only' %>
    </div>
  </div>
  <div class="col-xs-9">
    <%= render partial: "templates/images", locals: {images: @presenter.images, favorites: @presenter.favorites} %>
  </div>

</div>