<%= form_for @image, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :key, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :key, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :hash, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :hash, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :statut, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :statut, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :file_size, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :file_size, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :width, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :width, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :height, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :height, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :source_url, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :source_url, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                images_path, :class => 'btn' %>
  </div>
<% end %>
