<div class="page-header">
  <h1><%= @post_name %></h1>
</div>

<div class="span12">
  <div class="span2">
    <div class="well sidebar-nav">
      <ul class="nav nav-list">
        <li class="nav-header">Sidebar</li>
        <li class="link"><%= link_to "Delete post", website_post_path(@website_id, @post_id), data: {:confirm => 'delete this post?'}, :method => :delete, :class => "btn-danger" %></li>
        <li class="link"><%= link_to "Banish post", banish_website_post_path(@website_id, @post_id), data: {:confirm => 'banish this post?'}, :method => :put, :class => "btn-danger" %></li>
        <li class="link"><%= link_to "Images to sort", website_post_images_path(@website_id, @post_id, :status => "TO_SORT_STATUS") %></li>
        <li class="title"><span class="badge"><%=@to_sort_count%></span></li>
        <li class="link"><%= link_to "Images to keep", website_images_path(@website_id, :status => "TO_KEEP_STATUS", :post_id => @post_id) %></li>
        <li class="title"><span class="badge badge-success"><%=@to_keep_count%></span></li>
        <li class="link"><%= link_to "Images to delete", website_images_path(@website_id, :status => "TO_DELETE_STATUS", :post_id => @post_id) %></li>
        <li class="title"><span class="badge badge-important"><%=@to_delete_count%></span></li>
      </ul>
    </div><!--/.well -->
  </div><!--/span-->
  <div class="span10">
    <% @images.each do |image| %>
      <div class="span3 list_image" id="<%= image["id"] %>">
        <div>
          <p>
          <%= link_to raw("<i class=\"icon-ok\"></i>"), website_post_image_path(@website_id, @post_id, image["id"]), :method => :put, :title => "Save", :class => "btn btn-small btn-success", remote: true %>
          <%= link_to raw("<i class=\"icon-remove\"></i>"), website_post_image_path(@website_id, @post_id, image["id"]), :method => :delete, :title => "Delete", :class => "btn btn-small btn-danger", remote: true %>
          <%= link_to raw("<i class=\"icon-refresh\"></i>"), redownload_website_post_image_path(@website_id, @post_id, image["id"]), :method => :put, :title => "Redownload", :class => "btn btn-small btn-primary", remote: true %>
          <span><%= image["width"] %>x<%= image["height"] %></span>
        </p>
      </div>
        <span class="helper"><%= image_set_tag(image["thumbnail1X_url"], {'1X' => image["thumbnail1X_url"], '2X' => image["thumbnail2X_url"]}) %></span>
      </div>
    <% end %>
  </div>
</div>

<div class="clearfix"></div>

<% if params["status"].present? && (params["status"] != "TO_SORT_STATUS")%>
<%= paginate @images %>
<% else %>
<%= link_to "Delete All remaining images", "#", :class => "btn btn-large btn-danger destroy_all_link", :remote => true %>
<% end %>

<!-- Destroy all images form -->
<%= form_tag(destroy_all_website_post_images_path(@website_id, @post_id), method: :delete, :id => "destroy_all_form") %>