<div class="page-header">
  <h1><%= @post.nil? ? "" : @post.name %></h1>
</div>

<div class="span12">
  <div class="span2">
    <div class="well sidebar-nav">
      <ul class="nav nav-list">
        <li class="nav-header">Sidebar</li>
        <li class="link"><%= link_to "Delete All remaining images", "#", :class => "btn-danger destroy_all_link", :remote => true %></li>
        <li class="link"><%= link_to "Delete post", [@website, @post], :method => :delete, :class => "btn-danger" %></li>
        <li class="link"><%= link_to "Images to sort", website_post_images_path(@website, @post, :status => Image::TO_SORT_STATUS) %></li>
        <li class="title"><span class="badge"><%=@to_sort_count%></span></li>
        <li class="link"><%= link_to "Images to keep", website_images_path(@website, :status => Image::TO_KEEP_STATUS) %></li>
        <li class="title"><span class="badge badge-success"><%=@to_keep_count%></span></li>
        <li class="link"><%= link_to "Images to delete", website_images_path(@website, :status => Image::TO_DELETE_STATUS) %></li>
        <li class="title"><span class="badge badge-important"><%=@to_delete_count%></span></li>
      </ul>
    </div><!--/.well -->
  </div><!--/span-->
  <div class="span10">
    <% @images.each do |image| %>
      <div class="span3 list_image" id="<%=image.id%>">
        <div>
          <p>
          <%= link_to raw("<i class=\"icon-ok\"></i>"), [@website, @post, image], :method => :put, :title => "Save", :class => "btn btn-small btn-success", remote: true %>
          <%= link_to raw("<i class=\"icon-remove\"></i>"), [@website, @post, image], :method => :delete, :title => "Delete", :class => "btn btn-small btn-danger", remote: true %>
          <%= link_to raw("<i class=\"icon-refresh\"></i>"), redownload_website_post_image_path(@website, @post, image), :method => :put, :title => "Redownload", :class => "btn btn-small btn-primary", remote: true %>
          <span><%= image.width %>x<%= image.height %></span>
        </p>
      </div>
        <span class="helper"><%= image_tag Image.asset_thumbnail_path+"/"+image.key %></span>
      </div>
    <% end %>
  </div>
</div>

<div class="clearfix"></div>

<% if params["status"].present? && (params["status"] != Image::TO_SORT_STATUS)%>
<%= paginate @images %>
<% else %>
<%= link_to "Delete All remaining images", "#", :class => "btn btn-large btn-danger destroy_all_link", :remote => true %>
<% end %>

<!-- Destroy all images form -->
<%= form_tag(destroy_all_website_post_images_path(@website, @post), method: :delete, :id => "destroy_all_form") %>